main{
  background-image: linear-gradient(to right , #c1c5c7 , #9B91FA , #5C13FB 96.15%) ;
  min-height: 100vh ;
 
}

.navbar.navbar-fixed-right {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      width: 200px;
      overflow-y: auto;
      background-color: #e1ddea;
      border-right: 1px solid #ddd; 
}

.card .edit,
.accordion .save{
  background-image: linear-gradient(90deg, #67AFFD 0%, #4A4DEA 48.75%, #7A40F4 101.73%); 
}

/* changing the position of accordions arrow , because this website is arabic instead of english */
.accordion-button::after{
  position: absolute ;
  left: 15px ;
}

/* add btn in gallery */
.add-btn{
  display: flex ;
  background-image: linear-gradient(to right , #c1c5c7 , #9B91FA , #5C13FB 96.15%) ;;
  height: 100px ;
  align-items: center ;
  justify-content: center ;
  position: relative ;
}
/* plus sign */
.add-btn i{
  font-size: 40px ;
  color: rgb(224, 222, 218) ;
  transition: transform 0.3s ease-out ;
}

.add-btn:hover i{
  transform: scale(1.3) ;
}

.add-btn form{
  position: absolute ;
  width: 100% ;
  height: 100% ;
}

input[type="file"]{
  width: 100% ;
  height: 100% ;
  cursor: pointer ;
}

input[type="file"]::file-selector-button{
  width: 100% ;
  height: 100% ;
  visibility: hidden ;
}

.delete-btn{
  background-color: transparent ;
  position: absolute ;
  top: 15px ;
  right: 15px ;
  border: none ;
}

@media (min-width: 576px){
  main{
    padding-right: 200px ;
  }
}

@media (max-width: 575.9px){
  main{
     padding-top: 60px ;
  }
}
